# Ignore Python cache files and compiled files
__pycache__/
*.pyc
//I m making,this changes from gitub .
//okk changes from feature 
/its , feature 
so im given the resonsibility to make 
changes 
infinitely 
 


